* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    overflow-x: hidden;
     background-image: linear-gradient(to right,#0278bdc1 15%, #0d48a1);
     background-repeat: no-repeat;
}

nav {
    height: 70px;
    background-color: #fff;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.155);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

nav div:nth-child(2) a {
    color: #0d48a1;
    text-decoration: none;
}

nav div:nth-child(2) a h2 {
    font-size: 15px;
    font-weight: 400;
}

nav div:nth-child(2) a button {
    border: none;
    background-color: #25D366;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-weight: 600;
}

nav div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav > div img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: relative;
    left: 10px;
}

nav > div {
    display: flex;
    align-items: first baseline;
    width: 100vw;
    position: relative;
    left: 60px;
}

.container_head {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    /*background-image: linear-gradient(to right, #0278bdc1 15%, #0d48a1);*/
    /*background-image: url(imagens/imagemfundo1.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    color: #ffffff;
    justify-content: center;
    /*background-color: #0000007e;*/
}

/*.container_head::before {
    inset: 0;
    position: absolute;
    content: "";
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}*/

/*.container_head *:not(#particulas) {
    position: relative;
    z-index: 1;
}

#particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}*/


.head_txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /*box-shadow: inset 0 0 20px #ffffff31;*/
    border: solid 0.5px #124fa9; 
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    background-color: #124fa9;
    font-weight: 200;
    animation: subir ease-in-out 2s infinite alternate;
    text-align: center;
}

@keyframes subir {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(10px);
    }
}

.head_txt img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.head_img {
    position: relative;
    animation: entrarImagem 2.5s ease-in-out forwards;
    z-index: 2;
    left: 20px;
}

.led {
    width: 550px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    /*left: -20px;*/
    /*top: -60px;*/
    animation: luz 1s infinite;
    top: 30px;
    z-index: 2;
}

@keyframes luz {

    0%,
    100% {
        box-shadow: 0 -15px 40px #fff, 0 -10px 30px #ffffff, 0 -5px 20px #ffffff;
    }

    50% {
        box-shadow: 0 -25px 20px #0ff, 0 -20px 10px, #0ff, 0 -15px 10px #0ff;
    }
}

.container_led {
    display: flex;
    flex-direction: column;
}

.imagem_logo {
    width: 300px;
    animation: moverImagem 1s ease-in-out infinite alternate forwards;
    position: relative;
}

@keyframes moverImagem {
    from {
        top: 0px;
    }

    to {
        top: 5px;
    }
}

@keyframes entrarImagem {
    from {
        transform: translateY(-1000vw);
        opacity: 0;
    }

    to {
        transform: rotateY(0);
        opacity: 1;
    }
}

#entrada {
    width: 430px;
}

.solicitar_orcamento {
    width: 150px;
    height: 33px;
    border-radius: 7px;
    border: none;
    /*box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.496);*/
    position: relative;
    /*animation: botao alternate 1s infinite ease-in-out;*/
    background-color: #25D366;
    color: #ffffff;
}

/*@keyframes botao {
    from {
        top: 0px;
        box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.496);
    }

    to {
        top: 2px;
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.496);
    }
}*/

.imagem_separacao {
    background-image: url(imagens/imagemfundo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    width: 100vw;
    height: 400px;
    position: relative;
    border-right: 70px solid #0d48a1;
}

.imagem_separacao::before {
    inset: 0;
    content: "";
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.775);
}

.container_sobre {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 70px;
    /*background-image: linear-gradient(45deg, #ffffff 70%, #677ca7);*/
    /*background-image: linear-gradient(to right, #0278bdc1 15%, #0d48a1);*/
    color: #fff;
}

/*.linha {
    width: 500px;
    height: 5px;
    background-color: #0d48a1;
    border-radius: 10px;
    position: relative;
    top: -5px;
    animation: caminhar 5s infinite alternate ease-in-out;
}

@keyframes caminhar {
    from {
        width: 100px;
        left: 0;
    }

    to {
        width: 650px;
        left: 100vh;
    }
}*/

.container_sobre_img > img {
    width: 400px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 20px #00000054;
}

.container_sobre_loja>h1 {
    color: #fff;
    /*border-bottom: solid 2px #677ca7;*/
    text-align: center;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    font-weight: 500;
}

.container_sobre_loja > p {
    text-align: center;
    border: solid 0.5px #124fa9; 
    padding: 20px;
    border-radius: 20px;
    font-weight: 200;
    font-size: 20px;
}

.container_sobre_loja > p:hover {
    background-color: #124fa9;
    cursor: pointer;
}

.titulo_servicos {
    text-align: center;
    font-weight: 500;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    padding: 10px;
}

.container_servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /*background-image: linear-gradient(to right, #0278bdc1 15%, #0d48a1);*/
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 30px;
}

.container_filho_servicos {
    /*background-color: #000;*/
    background-color: #124fa9;
    border-radius: 30px;
    padding: 20px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 32vw;
    width: 90vw;
}

.servicos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.servico {
    border: solid 0.5px #0278bdc1;
    border-radius: 20px;
    padding: 20px;   
    gap: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 300px;
    transition: 0.5s ease-in-out;
}

.servico:hover {
    cursor: pointer;
}

.servicos .servico1:hover {
    background-color: #0278bdc1;
    transform: translateY(-30px) !important;
}
.servicos .servico2:hover {
    background-color: #0278bdc1;
    transform: translateY(-30px) !important;
}

.servicos .servico3:hover {
    background-color: #0278bdc1;
    transform: translateY(-30px) !important;
}

.servicos .servico4:hover {
    background-color: #0278bdc1;
    transform: translateY(-30px) !important;
}

.icones {
    padding: 5px;
    border-radius: 5px;
    font-size: 35px;
    color: #fff;
    position: relative;
    top: 7px;
}

.contato div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.contato > div > h1 {
    font-weight: 500;
    color: #fff;
}

.contato > div > span {
    width: 70vw;
    height: 2px;
    background-color: #fff;
    margin-top: 7px;
}

.contato div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 500px;
}

.contato div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: baseline;
    gap: 0px;
}

.contato div:nth-child(2) div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #000;    
    gap: 20px;
}

.contato div:nth-child(2) > div > a > img {
    width: 70px;
    border: solid 3px #fff;
    border-radius: 50%;
    padding: 10px;
}

.contato div:nth-child(2) > div span {
    height: 100px;
    width: 2px;
    background-color: #fff;
    margin: -2px;
    position: relative;
    left: 33px;
}

.contato div:nth-child(2) div:nth-child(2) > h1 {
    color: #fff;
}

.contato div:nth-child(2) div:nth-child(2) > .campo_email {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #124fa9;
    height: 75px;
    border-radius: 50px;
}

.campo_email input {
    background-color: #124fa9;
    border: none;
    outline: none;
    padding-inline-start: 20px;
    border-radius: 60px;
    height: 70px;
    width: 400px;
    font-size: 15px;
    color: #fff;
}

.campo_email input:focus {
    outline: 2px solid #0278bdc1;
}

.campo_email input::placeholder {
    color: #fff;
}

.contato div:nth-child(2) div:nth-child(2) > .campo_email > button {
    width: 130px;
    border-radius: 50px;
    border: none;
    height: 70px;
    background-color: #0d48a1;
    color: #fff;
    font-weight: 700;
}

.contato div:nth-child(2) div:nth-child(2) > .campo_email > button:hover {
    background-color: #0278bdc1;
}

footer {
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    justify-content: center;
    /*background-image: linear-gradient(to right, #0278bd3f 15%, #0d48a164);*/
    background-color: #000000;
    color: #fff;
    padding: 30px;
    font-weight: 200;
}

.container_hora {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.endereco {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map {
    font-size: 70px;
    color: #04357f;
}

.container_botao_contato button {
    background-color: #04357f;
    color: #fff;
    width: 150px;
    height: 33px;
    border-radius: 7px;
    border: none;
    box-shadow: 5px 5px 10px #0000006c;
}

button:hover {
    cursor: pointer;
}