* {
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-image: url(imagens/imagemfundo1.png);
    background-repeat: no-repeat;
    border: solid 5px #677ca725;
}

.container_head {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    /*background-image: linear-gradient(to right, #0278bdc1 15%, #0d48a1);*/
    align-items: center;
    color: #ffffff;
    justify-content: center;
    gap: 180px;
    background-color: #0000007e;
}

.head_txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 20px #ffffff31;
    padding: 20px;
    border-radius: 10px;
}

.head_img {
    position: relative;
    animation: entrarImagem 2.5s ease-in-out forwards;
}

.led {
    width: 350px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    left: -20px;
    top: -60px;
    animation: luz 1s infinite;
    top: -110px;
    z-index: 2;
}

@keyframes luz {
    0%, 100% {
        box-shadow: 0 -15px 40px #fff, 0 -10px 30px #ffffff, 0 -5px 20px #ffffff;
    } 50% {
         box-shadow: 0 -25px 20px #0ff, 0 -20px 10px, #0ff, 0 -15px 10px #0ff;
    }
}

.container_led {
    display: flex;
    flex-direction: column;
}

.imagem_logo {
    width: 300px;
    animation: moverImagem 1s ease-in-out infinite alternate forwards;
    position: relative;
}

@keyframes moverImagem {
    from {
        top: 0px;
    } to {
        top: 5px;
    }
}

@keyframes entrarImagem {
    from {
        transform: translateY(-1000vw);
        opacity: 0;
    } to {
        transform: rotateY(0);
        opacity: 1;
    }
}

#entrada {
    width: 430px;
}

button {
    width: 150px;
    height: 33px;
    border-radius: 7px;
    border: none;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.496);
    position: relative;
    animation: botao alternate 1s infinite ease-in-out;
    background-color: #677ca7;
}

@keyframes botao{
    from {
        top: 0px;
        box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.496);
    } to {
        top: 2px;
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.496);
    }
}

.container_sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 70px;
    /*background-image: linear-gradient(45deg, #ffffff 70%, #677ca7);*/
    background-image: linear-gradient(45deg, #ffffff 60%, #ffffff00);
}

.linha {
    width: 500px;
    height: 5px;
    background-color: #0d48a1;
    border-radius: 10px;
    position: relative;
    top: -5px;
    animation: caminhar 5s infinite alternate ease-in-out;
}

@keyframes caminhar {
    from {
        width: 100px;
        left: 0;
    } to {
        width: 650px;
        left: 100vh;
    }
}

.container_sobre_img > img {
    width: 400px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 20px #00000054;
    /*border: solid 2px #677ca7;*/
    border: solid 2px #0000006a;
}

.container_sobre_loja > h1 {
    color:#04357f;
    /*border-bottom: solid 2px #677ca7;*/
    border-bottom: solid 2px #000000;
}

.titulo_servicos {
    color: #04357f;
    text-align: center;
    background-color: #ffffff;
}

.container_servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #ffffff;
}

.servicos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.icones {
    padding: 5px;
    border-radius: 5px;
    font-size: 35px;
    color: #04357f;
    position: relative;
    top: 7px;
}

